.breadcrumbs {

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        font-size: 15px;
        letter-spacing: 1px;

        padding-top: 23px;
        padding-bottom: 24px;

        border-bottom: 1px solid #ebecef;
        border-bottom: 1px solid var(--breadcrumbs-border-color);

        a {
            letter-spacing: 0.2px;

            &:hover {
                text-decoration: underline;
            }

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                display: inline-block;
                background: url("../ico/right-arrow-forward.svg") center center no-repeat;
                background-size: contain;
                opacity: .3;
                margin: 0px 10px;
            }
        }

        span {
        }
    }  
}