<div class="breadcrumbs">
    <div class="container">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Our blog</a>
            </li>

            <li>
                <span>The last summer days</span>
            </li>
        </ul>
    </div>
</div>