<header class="header header--min" style="background-image: url(img/article-page-bg.jpg)">
    {% include "menu/menu.njk" %}

    <div class="container">
        <div class="header__wrap">
            <div class="header-min">
                <h1><b>Our blog</b></h1>
                <h3>TacTack’s blog and news</h3>
            </div>
        </div>
    </div>

</header>
