<header class="header header--min" style="background-image: url({{ img }})">
    {% include "menu/menu.njk" %}

    <div class="container">
        <div class="header__wrap">
            <div class="header-min">
                <h1>{{ title | safe }}</h1>
                <h3>{{ h3 }}</h3>
            </div>
        </div>
    </div>

</header>
