<div class="barticle">
    <div class="container">
        {% set quoteTitle = "<b>At</b> TacTack" %}
        {% set quoteText = ["High-value engaging tours for the professional development and bonding of business executives. Being integrated with nature is a fundamental part of being human. It brings us inner peace, and in turn, puts us in a mindset that is conducive to human bonding. TACTACK therefore offers business executives tailored corporate tours that provide the chance to interact with each other as well as members of local communities in natural havens across Pakistan.", "Whether in the mountains, at sea, or in rural farmland settings, these escapes are guaranteed to build healthier teams and further professional development through collaborative physical exertion and stimulating activities. With transportation that boasts comfort, luxurious accommodation, exquisite food and impeccable execution, be prepared for a fulfilling and intangible experience of high added-value!"] %}
        {% include "quote/quote.njk" %}

        <div class="barticle__wrap">
            <div class="infoblock">
                <div class="infoblock__img">
                    <img src="img/corporate-item.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>Executive</b> Journey</h2>
                    <p>
                        Home to some of nature’s most valuable gifts, Gilgit-Baltistan is a magical mountain paradise tucked away in the northern territories of Pakistan. Featuring awe-inspiring glaciers, high-altitude lakes, natural springs, vast deserts, breathtaking plains, rich flora and fauna, and immense history within the deep sub-cultures of Pakistan. Supplemented by incredible community members that TACTACK has worked with for over 4 years now and developed a sustainable model, ensuring real growth & progress. Through a variety of activities our guests are always eager to experience these areas over and over again. 
                    </p>
                    <p>
                        Business executives and corporate teams can stay at the Serena Shigar Fort that offers guests the opportunity to experience the restored original architecture of the 17th Century Raja Fort Palace, while enjoying the modern amenities and services of a luxury guest house. <a href="#">Read more</a> 
                    </p>
                </div>

                <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div>
            </div>

            <div class="infoblock infoblock--reverse">
                <div class="infoblock__img">
                    <img src="img/corporate-item2.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>Adventure</b> Climax</h2>
                    <p>
                        For all the thrill seekers and adrenaline-junkies, an action-packed day at sea awaits! “Adventure Climax” is a high-intensity ocean experience that is sure to help you get away and completely recharge. In addition to activities such as jet skiing, speed-boat rides, water games and quad biking, TACTACK offers many supplemental activities and resources to maximise impact as per your company’s objectives. 
                    </p>
                    <p>
                        Guests enjoy reliable and air-conditioned transportation to and from the beach, as well as hut or mass tent accommodation, catered meals and musical entertainment. TACTACK provides a well-trained staff of nature-loving enthusiasts to ensure the highest levels of comfort and safety, enhancing our guests’ experiences and allowing them to bring about the most positive change to themselves and their teams.
                    </p>
                </div>

                <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div>
            </div>

            <div class="infoblock">
                <div class="infoblock__img">
                    <img src="img/corporate-item3.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>Exclusive</b> Ocean</h2>
                    <p>
                        Situated on the scenic coastline of southern Pakistan, Mubarak village is an absolute beauty that echoes peace and tranquility. With pristine waters and sun-drenched beaches, it promises a rich and relaxing sea experience. Supplemented by an incredible Baloch community with a history of approx 300 years. TACTACK has worked with this community for over 4 years now and established a sustainable model, ensuring real growth & progress. 
                    </p>
                    <p>
                        “Exclusive Ocean” gives our guests’ the opportunity to engage with each other through collaborative activities that are guaranteed to nurture a sense of fulfilment and joy. Be prepared for a memorable trip that will leave you and your team feeling refreshed and rewarded!
                    </p>
                </div>

                <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div>
            </div>
        </div>
    </div>
</div>