<div class="aboutus">
    <div class="container">
        <div class="aboutus__wrap">
            <div class="aboutus__head">
                <h2>
                    <b>Testimonials</b> <br>
                    about us
                </h2>

                <p>Over the years, we have collected more than 300 positive reviews from satisfied customers. You can familiarize yourself with them</p>

                <div class="btn">
                    <span>read more reviews</span>
                </div>
            </div>

            <div class="aboutus__comment">
                <div class="aboutus__comment-item">
                    <div class="comment">
                        <div class="quote">
                            {{ M.svg("quote") }}
                        </div>
                        <b>Tipi Shafaq Javed</b>
                        <em>jun 17, 2019</em>
                        <p>
                            Tactack is the best travel company for Pakistan tourism. Their unrivalled local knowledge, their networks in the northern areas, their accommodating attitude, and super involved CEO Absar makes for a truly authentic and unforgettable experience. Highly recommended!
                        </p>
                    </div>
                </div>
                
                <div class="aboutus__comment-item">
                    <div class="comment">
                        <div class="quote">
                            {{ M.svg("quote") }}
                        </div>

                        <b>Kishwar Khan</b>
                        <em>jun 17, 2019</em>
                        <p>
                            Question says what do u recommend about TACTACK? My answer : EVERYTHING!!! Despite being a hard core Pakistani and a Karachi local I’m never taking a vacation within our beautiful country without TACTACK. Absolutely glitch-free vacation. From activities and every detail worked out to perfection...
                        </p>
                        <a href="#Read-more">Read more</a>
                    </div>
                </div>

                <div class="aboutus__comment-item">
                    <div class="comment">
                        <div class="quote">
                            {{ M.svg("quote") }}
                        </div>
                        <b>Mariam Abbas Bandukwala</b>
                        <em>jun 17, 2019</em>
                        <p>
                            This was my first trip with tactack and it was an amazing experience! If anyone wants to travel alone, i would highly recommend tactack.
                        </p>
                    </div>
                </div>
            </div>

            <div class="aboutus__imgblock">
                <div class="aboutus__imgblock-item left">
                    <h2>Mission</h2>
                    <p>
                        To offer everyone the unique opportunity to connect with nature and engage with each other through authentic and meaningful interactions that empower local communities in Pakistan.
                    </p>
                </div>
                
                <div class="aboutus__imgblock-item right">
                    <h2>Vision</h2>
                    <p>
                        That Pakistan’s nature be recognised, loved and protected.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>