<div class="funinfo">
    <div class="funinfo__wrap">
        <div class="container">
            <h2>Some <b>fun info</b></h2>
            <h3 class="center"><em>6,500</em> people served in total</h3>

            <div class="funinfo__num">
                <div class="funinfo__num-item">
                    <em>1000 +</em>
                    <span>in the mountains</span>
                </div>

                <div class="funinfo__num-item">
                    <em>3500 +</em>
                    <span>in the ocean</span>
                </div>
                
                <div class="funinfo__num-item">
                    <em>2000 +</em>
                    <span>in between</span>
                </div>
            </div>

            <div class="funinfo__grid">
                <div class="funinfo__grid-item">
                    {{ M.svg("interviewers")}}
                    <b>300 +</b>
                    <span>community members </span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("route-pointer")}}
                    <b>90</b>
                    <span>public trips</span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("route")}}
                    <b>200</b>
                    <span>private trips</span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("map")}}
                    <b>300</b>
                    <span> locations explored</span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("stars")}}
                    <b>700</b>
                    <span>nights beneath the stars</span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("catamaran")}}
                    <b>200</b>
                    <span>adventure experiences</span>
                </div>
                <div class="funinfo__grid-item">
                    {{ M.svg("goal")}}
                    <b>90</b>
                    <span> luxury experiences</span>
                </div>
            </div>
        </div>
    </div>
</div>