<div class="popup popup-thank" id="popup-thank">
    <div class="popup__wrap">
        <h2><b>Thank</b> you!</h2>
        <span>We just got your question and will <br>  answer it shortly</span>
        <button class="btn btn--bg" data-fancybox-close>
            <span>back to site</span>
        </button>
    </div>
</div>

<div class="popup popup-form" id="popup-form">
    <div class="popup__wrap">
        <h2><b>Ask us</b> a question</h2>
        <form action="" class="form-callback">
            <div class="block-input">
                <input type="text" name="name" id="input-name" required>
                <label for="input-name">Your name</label>
            </div>
            <div class="block-input">
                <input type="text" name="email" id="input-email" required>
                <label for="input-email">Your email</label>
            </div>
            <div class="block-input block-input--textarea">
                <textarea name="message" id="input-message" required></textarea>
                <label for="input-message">Your message here</label>
            </div>

            <button type="submit" class="btn btn--bg">
                <span>Send a question</span>
            </button>
        </form>
    </div>
</div>