<div class="lastposts">
    <div class="container">
        <div class="lastposts__wrap">
            <div class="lastposts__head">
                <h2>
                    <b>Last posts</b> <br>
                    from our blog
                </h2>

                <div class="lastposts__head-btn">
                    <div class="btn">
                        <span>more news</span>
                    </div>
                </div>
            </div>

            <div class="lastposts__grid">
                <div class="article-max">
                    <img src="img/article-img-1.jpg" alt="IMG">
                    <div class="label">Jun 18, 2019</div>
                    <h4>Last summer days</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                </div>

                <div class="article-min">
                    <picture>
                        <img src="img/article-img-2.jpg" alt="IMG">
                    </picture>

                    <div class="article-min__content">
                        <h5>Attention people! Discount, discount, discount!</h5>
                        <span>Aug 19, 2019</span>
                    </div>
                </div>

                <div class="article-min">
                    <picture>
                        <img src="img/article-img-3.jpg" alt="IMG">
                    </picture>
                    <div class="article-min__content">
                        <h5>Attention people! Discount, discount, discount!</h5>
                        <span>Aug 19, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>