.lastposts {
    &__wrap {
        padding-top: 63px;

        @media(max-width: 992px) {
            padding-top: 30px;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(max-width: 480px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .btn {
                margin-top: 20px;
            }
        }
    }

    &__grid {
        display: flex;
        margin-top: 23px;
        justify-content: space-between;

        @media(max-width: 992px) {
            flex-wrap: wrap;
        }

        .article-max {
            width: calc(50% - 15px);

            @media(max-width: 992px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
            
        .article-min {
            width: calc(25% - 20px);

            @media(max-width: 992px) {
                width: calc(50% - 10px);
            }
            
            @media(max-width: 480px) {
                width: 100%;
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.article-max {
    position: relative;
    height: 336px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 37px;
    padding-top: 34px;
    padding-bottom: 30px;
    padding-right: 30px;

    color: #fff;

    @media(max-width: 992px) {
        padding: 20px;
    }
    
    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 0;
        
        @supports(object-fit: cover) {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .label {
        z-index: 2;
        position: absolute;
        left: 37px;
        top: 34px;

        @media(max-width: 992px) {
            top: 20px;
            left: 20px;
        }
    }

    h4 {
        font-size: 28px;
        position: relative;
        z-index: 2;
        font-weight: 900;
        margin-bottom: 9px;
    }
    
    p {
        font-size: 15px;
        line-height: 27px;
        position: relative;
        z-index: 2;
    }
}

.article-min {
    position: relative;
    height: 336px;

    picture {
        display: block;
        height: 231px;
        overflow: hidden;
    }
    
    img {
        width: 100%;
        
        @supports(object-fit: cover) {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    h5 {
        font-size: 18px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 4px;

        height: 55px;
        overflow: hidden;
    }

    span {
        color: var(--color-silver);
        font-size: 13px;
    }

    &__content {
        border: 1px solid var(--color-silver-light);
        border-top: 0px;

        padding-top: 14px;
        padding-left: 24px;
        padding-right: 20px;
        padding-bottom: 16px;

        @media(max-width: 992px) {
            padding: 20px;
        }
    }

}