<div class="partenter">
    <div class="container">
        <div class="partenter__wrap">
            <h2><b>Our</b> partners</h2>

            {# Slider #}
            <div class="partenter__slider">
                <div class="partenter__slider-item">
                    <img src="img/amna.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/fec.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/echo.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/gstravel.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/bvalogo.png" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/kore.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/amna.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/fec.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/echo.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/gstravel.jpg" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/bvalogo.png" alt="IMG">
                </div>
                <div class="partenter__slider-item">
                    <img src="img/kore.jpg" alt="IMG">
                </div>
            </div>
        </div>
    </div>
</div>