<div class="cofounders">
    {# Slider #}
    <div class="cofounders__half">
        <div class="cofslid">
            <div class="cofslid__item">
                <img src="img/cofounder-1.jpg" alt="IMG">
            </div>
            <div class="cofslid__item">
                <img src="img/cofounder-2.jpg" alt="IMG">
            </div>
            <div class="cofslid__item">
                <img src="img/cofounder-3.jpg" alt="IMG">
            </div>
            <div class="cofslid__item">
                <img src="img/cofounder-1.jpg" alt="IMG">
            </div>
            <div class="cofslid__item">
                <img src="img/cofounder-2.jpg" alt="IMG">
            </div>
            <div class="cofslid__item">
                <img src="img/cofounder-3.jpg" alt="IMG">
            </div>
        </div>
    </div>

    {# Info #}
    <div class="cofounders__half">
        <div class="cofounders__info">
            <h2><b>TacTack</b> <br> Co-Founders</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>

            <div class="cofounders__info-bot">
                <div class="cofslid__arrows">
                    <div class="cofslid__arrow-prev">{{ M.svg("go-back-left-arrow") }}</div>
                    <div class="cofslid__arrow-next">{{ M.svg("right-arrow-forward") }}</div>
                </div>

                <div class="cofslid__activeslid">
                    <span>1</span><b>/</b><em>10</em>
                </div>

                <div>
                    <div class="btn">
                        <span>Contact us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>