<div class="team">
    <div class="container">
        <div class="team__wrap">
            <h2><b>TacTack</b> Co-Founders</h2>

            <div class="team__item">
                <picture>
                    <img src="img/team-1.jpg" alt="Team">
                </picture>
                <div class="team__item-text">
                    <h4><b>Absar</b> Khan</h4>
                    <p>Absar was diagnosed with terminal Leukemia at the age of three, but recovered from it years later. His sickness led to a sincere appreciation of life, a sensitive connection to the natural world, and a love for exploration and adventure. After qualifying for and practicing law in England for a decade, Absar felt that the corporate world had damaged his vibrant childhood personality.</p>

                    <p>He left his career and moved to Pakistan in a journey of self-rediscovery. As he explored his home country, he searched for inner peace and passion, and found them both in nature.</p>
                </div>
            </div>
            
            <div class="team__item team__item--reverse">
                <picture>
                    <img src="img/team-2.jpg" alt="Team">
                </picture>
                <div class="team__item-text">
                    <h4><b>Imad</b> Gharazeddine</h4>
                    <p>Imad was born and raised in Saudi Arabia. While studying software engineering in Canada, he became intrigued by the world of finance. After practicing software engineering for two years in the USA, he moved to Dubai, where he shifted to the business side of his field. </p>

                    <p>There, Imad discovered his love for the sea and extreme water sports. Paired with his dream of pursuing meaningful entrepreneurial experiences, his newfound interests led him to TACTACK.</p>
                </div>
            </div>

            <div class="team__item">
                <picture>
                    <img src="img/team-3.jpg" alt="Team">
                </picture>
                <div class="team__item-text">
                    <h4><b>John</b> Doe</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</div>