// Global Site Style
html, body {
    font-family: 'Gilroy';
    font-size: 15px;
    line-height: 1;
    color: var(--color-black, #060a18);
}

.container {
    width: 1290px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // box-sizing: content-box;

    @media(max-width: 1350px) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media(max-width: 560px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

b {
    font-weight: bold;
}


h1 {
    font-size: 99px;
    font-weight: 100;
    line-height: 112px;
    letter-spacing: -2.1px;
    
    b {
        font-size: 118px;
        font-weight: 900;
        letter-spacing: -0.3px;
    }
}

h2 {
    font-size: 54px;
    font-weight: 200;
    line-height: 63px;
    letter-spacing: 1px;

    @media(max-width: 1024px) {
        font-size: 40px;
        line-height: 50px;
    }

    @media(max-width: 768px) {
        font-size: 30px;
        line-height: 40px;
    }

    b {
        font-weight: 900;
    }
}

h3 {
    font-size: 24px;
    font-weight: 300;
    padding-left: 100px;
    letter-spacing: 0.9px;
    position: relative;

    b {
        font-weight: 900;
    }

    &.center {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 32px;
        padding-left: 0px;

        em {
            color: #ffcf11;
        }

        &:before, &:after {
            content:"";
            display: block;
            position: static;
            width: 46px;
            height: 1px;
            background-color: rgba(#fff, .3);
            margin: 0px 25px;
        }
    }

    &:after {
        content: "";
        width: 75px;
        height: 1px;
        background-color: var(--color-white);
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%); 
    }
}

.btn {
    border: 0px;
    background-color: transparent;
    width: 221px;
    border: 1px solid var(--color-btn, #ffcf11);
    display: block;
    outline: none;
    transition: .2s;
    cursor: pointer;
    
    &:hover {
        background-color: var(--color-btn, #ffcf11);
        span {
            color: var(--color-btn-text-hover, #fff);
        }
    }
    
    span {
        transition: .2s;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--color-btn, #ffcf11);
        text-align: center;
        padding: 20px 10px;
        display: block;
        white-space: nowrap;
    }
}

.quote {
    width: 35px;
    height: 35px;
    color: #0882e9;
    background: var(--color-blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #fff;
        width: 14px;
        height: 10px;
    }
}

.label {
    background-color: #0882e9;
    background-color: var(--color-blue);
    font-size: 14px;
    color: #fff;
    color: var(--color-white);
    display: inline-block;
    padding: 11px 16px;
}

a {
    color: inherit;
}