.svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svg-catamaran {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.svg-envelope {
	font-size:(511.626/10)*1rem;
	width:(511.626/511.626)*1em;
}
.svg-facebook {
	font-size:(408.79/10)*1rem;
	width:(408.79/408.79)*1em;
}
.svg-go-back-left-arrow {
	font-size:(408/10)*1rem;
	width:(408/408)*1em;
}
.svg-goal {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.svg-icon {
	font-size:(29.12/10)*1rem;
	width:(29.12/29.12)*1em;
}
.svg-instagram {
	font-size:(551.03/10)*1rem;
	width:(551.03/551.03)*1em;
}
.svg-interviewers {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.svg-link {
	font-size:(442.246/10)*1rem;
	width:(442.246/442.246)*1em;
}
.svg-logo {
	font-size:(1988/10)*1rem;
	width:(1971/1988)*1em;
}
.svg-map {
	font-size:(1288/10)*1rem;
	width:(1288/1288)*1em;
}
.svg-phone-call-button {
	font-size:(459/10)*1rem;
	width:(459/459)*1em;
}
.svg-placeholder-filled-point {
	font-size:(97.713/10)*1rem;
	width:(97.713/97.713)*1em;
}
.svg-quote {
	font-size:(298.67/10)*1rem;
	width:(298.67/298.67)*1em;
}
.svg-right-arrow-forward {
	font-size:(408/10)*1rem;
	width:(408/408)*1em;
}
.svg-route {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.svg-route-pointer {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.svg-star {
	font-size:(487.22/10)*1rem;
	width:(487.22/487.22)*1em;
}
.svg-stars {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
