:root {
    --color-black: #060a18;
    --color-white: #ffffff;
    --color-yellow: #ffcf11;
    --color-blue: #0882e9;
    --color-silver: #7f7f7f;

    --color-footer-top: #24252d;
    --color-footer-bottom: #15161c;


    // Button
    --color-btn: var(--color-yellow);
    --color-btn-text-hover: var(--color-white);


    // Index Header
    --header-color-title: var(--color-white);
    --header-color-slide-dots: var(--color-white);
    --header-color-nav: var(--color-white);
    --header-color-nav-hover: var(--color-blue);
    --header-color-nav-text: var(--color-silver);
    --header-color-nav-text-hover: var(--color-white);
    --header-color-doots: var(--color-white);


    // mainsection
    --mainsection-bg: url("../img/mainsection-bg.jpg");
    --mainsection-iitem-text-color: var(--color-white);
}