<div class="discount">
    <div class="container">
        <div class="discount__wrap">
            <h2><b>GET A 10% DISCOUNT</b> <br> TODAY</h2>
            <p>
                Contact us and mention code <em>'TTWEB'</em> <br> 
                to get 10% off your next trip.
            </p>

            <div class="btn">
                <span>Contact us</span>
            </div>
        </div>
    </div>
</div>