.ourproj {
    display: flex;
    align-items: flex-start;

    &__half {
        width: 50%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        img {
            // max-width: 100%;
            // width: 100%;
            display: block;

            @supports(object-fit: cover) {
                // width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        &.left {
            overflow: hidden;
            min-height: 520px;

            @media(max-width: 768px) {
                display: none;
            }
        }

        &.right {
            width: 645px;
            padding-left: 60px;

            padding-top: 60px;
            padding-bottom: 70px;

            @media(max-width: 768px) {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                padding-bottom: 0px;
            }

            @media(max-width: 560px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            h2 {
                margin-left: -119px;
                margin-bottom: 23px;

                @media(max-width: 768px) {
                    margin-left: 0px;
                }
            }

            h4 {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 26px;

                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 1.3;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: 15px;
                line-height: 29px;
                margin-bottom: 26px;

                @media(max-width: 768px) {
                    font-size: 14px;
                    line-height: 26px;
                }
            }

            @media(max-width: 1290px) {
                // width: 100%;
                padding-right: 15px;
            }
        }
    }
}