<div class="ourproj">
    <div class="ourproj__half left">
        <img src="img/outproj.jpg" alt="IMG">
    </div>
    <div class="ourproj__half right">
        <h2><b>Our</b> projects</h2>
        <h4>RECOGNIZING THE VALUE OF NATURE</h4>
        <p>At TACTACK, we are strong advocates of Community Based Tourism. This strategy directly involves the residents of the destinations we travel to in our daily operations. This empowers them and nurtures in them a sense of responsibility, self-sufficiency and ownership, ultimately boosting the growth of their local economies. As such, all our customers positively contribute to the sustenance and betterment of the lives of these inhabitants.</p>
        <div class="btn">
            <span>Contact us</span>
        </div>
    </div>
</div>