<div class="contactblock">
    <div class="container">
        <div class="contactblock__wrap">
            <h2><b>Contact</b> information</h2>        

            <div class="address">
                <div class="address__item">
                    <i>
                        {{ M.svg("placeholder-filled-point") }}
                    </i>
                    <b>Address</b>
                    <p>Head Office: Maryam Bagh, Plot 209, S/No. 301 Jafar Gardens, Malir Model Colony Karachi 75100, Pakistan</p>
                </div>

                <div class="address__item">
                    <i>
                        {{ M.svg("phone-call-button") }}
                    </i>
                    <b>Address</b>
                    <a href="tel:+92-311-0253-117">+92 311 0253 117</a>
                </div>

                <div class="address__item">
                    <i>
                        {{ M.svg("envelope") }}
                    </i>
                    <b>Address</b>
                    <a href="mailto:info@tactack.com">info@tactack.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map" id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2031.1589018098723!2d67.21580377589608!3d24.894106458593093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33381989f690b%3A0xe8c727cbded087af!2sTACTACK!5e0!3m2!1sru!2s!4v1576102844449!5m2!1sru!2s" style="border:0;" allowfullscreen=""></iframe>
</div>


<div class="formask">
    <div class="container">
        <div class="formask__wrap">
            <h2><b>Have questions?</b> Ask us</h2>

            <form action="" class="form-callback">
                <div class="block-input">
                    <input type="text" name="name" id="input-name" required>
                    <label for="input-name">Your name</label>
                </div>
                <div class="block-input">
                    <input type="text" name="email" id="input-email" required>
                    <label for="input-email">Your email</label>
                </div>
                <div class="block-input block-input--textarea">
                    <textarea name="message" id="input-message" required></textarea>
                    <label for="input-message">Your message here</label>
                </div>

                <button type="submit" class="btn btn--bg" data-fancybox data-src="#popup-thank">
                    <span>Send a question</span>
                </button>
            </form>
        </div>
    </div>
</div>