.mainsection {
	background: url("../img/mainsection-bg.jpg")  center 207px;
    background: var(--mainsection-bg) center 207px;
    background-size: contain;
    background-repeat: no-repeat;

    &__wrap {
        padding-top: 48px;

        h2 {
            margin-bottom: 39px;
        }
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-item {
            width: 455px;
            margin-bottom: 41px;

            @media(max-width: 992px) {
                width: 50%;
                padding-right: 10%;
            }

            @media(max-width: 768px) {
                padding-right: 5%;
            }

            @media(max-width: 650px) {
                width: 100%;
                padding-right: 0;
                margin-bottom: 30px;
            }

            b {
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 5px;
                display: block;
            }

            p {
                font-size: 15px;
                font-weight: 300;
                line-height: 26px;
            }
        }
    }
}

.experience {
    margin-top: 289px;
    padding-bottom: 71px;

    @media(max-width: 1180px) {
        margin-top: 10vw;
    }

    @media(max-width: 992px) {
        margin-top: 30px;
    }

    @media(max-width: 768px) {
        padding-bottom: 30px;
    }

    h2 {
        margin-bottom: 20px;
    }

    > p {
        font-size: 17px;
        line-height: 32px;
        width: 60%;

        @media(max-width: 992px) {
            width: 100%;
        }
    }

    &__grid {
        // width: 100%;
        width: 90.9%;
        display: flex;
        justify-content: space-between;
        margin-top: 41px;

        @media(max-width: 1180px) {
            width: 100%;
        }

        @media(max-width: 992px) {
            margin-top: 30px;
        }

        @media(max-width: 650px) {
            flex-wrap: wrap;
        }

        &-item {
            width: calc(33.33333% - 26.6666px);
            height: 539px;
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            padding-bottom: 26px;
            padding-left: 28px;
            padding-right: 7%;

            @media(max-width: 992px) {
                height: 430px;
                width: calc(33.33333% - 10px);
                padding: 10px;
            }

            @media(max-width: 768px) {
                height: 300px;
            }

            @media(max-width: 650px) {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }

            &:nth-child(1) {
                margin-top: 89px;

                @media(max-width: 992px) {
                    margin-top: 0px;
                }
            }

            &:nth-child(3) {
                position: relative;
                top: -124px;

                @media(max-width: 992px) {
                    top: 0px;
                }
            }

            img {
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 0;

                @supports (object-fit: cover) {
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            b {
                font-weight: bold;
                position: relative;
                z-index: 1;
                display: block;
				color: #fff;
                color: var(--mainsection-iitem-text-color);

                font-size: 17px;
                font-weight: 900;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            p {
                position: relative;
                z-index: 1;
				color: #fff;
                color: var(--mainsection-iitem-text-color);
                font-size: 16px;
                font-weight: 200;
                line-height: 26px;
                letter-spacing: 0.3px;

                @media(max-width: 768px) {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}
