<div class="mainsection">
    <div class="container">
        <div class="mainsection__wrap">
            <h2><b>Main sections</b> <br> of our work</h2>
            <div class="mainsection__grid">

                {# Item #}
                <div class="mainsection__grid-item">
                    <b>Approach:</b> 
                    <p>
                        We personalise and add value to everyone’s encounter with nature by truly understanding their needs and catering to each one of them, while promoting environmental awareness and the self-sufficiency of local communities.
                    </p>
                </div>
                
                {# Item #}
                <div class="mainsection__grid-item">
                    <b>Team:</b>
                    <p>
                        We have well-trained and experienced teams of nature-loving enthusiasts and knowledgeable locals that regularly ensure that safety measures are in place for all TACTACK’s activities.
                    </p>
                </div>

                {# Item #}
                <div class="mainsection__grid-item">
                    <b>Experience:</b>
                    <p>
                        We offer authentic, well-rounded and holistic outdoor experiences that simultaneously feature educational, therapeutic and recreational elements.
                    </p>
                </div>
                
                {# Item #}
                <div class="mainsection__grid-item">
                    <b>Execution:</b>
                    <p>
                        We are meticulous in the planning and execution of our journeys, and consistently deliver well-organised and memorable experiences.
                    </p>
                </div>

            </div>
        </div>


        <div class="experience">
            <h2><b>Our</b> experiences</h2>
            <p>
                <b>Pakistan</b> is blessed with oscillating seasons that grant us the opportunity to witness nature in all its glory. With experiences in both the mountains and at sea, TACTACK organizes a myriad of year-round bespoke trips to cater to every season and every need.
            </p>

            <div class="experience__grid">
                <div class="experience__grid-item">
                    <img src="img/exp-1.jpg" alt="IMG">
                    <b>EDUCATION</b>
                    <p>
                        Intellectually enriching outdoor eco-tours for our future generation
                    </p>
                </div>
                <div class="experience__grid-item">
                    <img src="img/exp-2.jpg" alt="IMG">
                    <b>Corporate</b>
                    <p>
                        High-value engaging tours for the professional development and bonding of business executives
                    </p>
                </div>
                <div class="experience__grid-item">
                    <img src="img/exp-3.jpg" alt="IMG">
                    <b>RECREATIONAL</b>
                    <p>
                        High-value engaging tours for the professional development and bonding of business executives
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>