<div class="blockquote">
    <h2><b>At</b> TacTack</h2>
    <p>We believe in the future generations' power to bring about positive change. As such, our focus is to enable the youth to have a strong appreciation for the gifts of nature and the efforts involved in maintaining them. Our Eco-Tours promote environmental responsibility and encourage a critical understanding of how our actions as citydwellers impact our ecosystems. They awaken students' curiosities, foster their interest, nurture their innate creativity, and instill a genuine love for the environment and empathy for the local communities that protect it. </p>
</div>