<div class="pagination">
    <div class="container">
        <ul>
            <li class="pagination__prev">
                <a href="#prev">
                    {{ M.svg("go-back-left-arrow") }}
                    <em>Previous</em>
                </a>
            </li>
            <li class="pagination__item">
                <a href="#1">1</a>
            </li>
            <li class="pagination__item">
                <a href="#2">2</a>
            </li>
            <li class="pagination__item active">
                <a href="#3">3</a>
            </li>
            <li class="pagination__item">
                <span>...</span>
            </li>
            <li class="pagination__item">
                <a href="#67">67</a>
            </li>
            <li class="pagination__next">
                <a href="#next">
                    <em>Next</em>
                    {{ M.svg("right-arrow-forward") }}
                </a>
            </li>
        </ul>
    </div>
</div>