<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__item ">
                <b>CONTACT US</b>

                <div class="contact">
                    <div>
                        {{ M.svg("placeholder-filled-point") }}
                        <span>Head Office: Maryam Bagh Plot 209, S/No. 301 Jafar Gardens, Malir Model Colony Karachi 75100, Pakistan</span>
                    </div>

                    <div>
                        {{ M.svg("envelope") }}
                        <a href="mailto:info@tactack.com">info@tactack.com</a>
                    </div>

                    <div>
                        {{ M.svg("phone-call-button") }}
                        <a href="+92-311-0253-117">+92 311 0253 117</a>
                    </div>
                </div>

            </div>

            <div class="footer__item">
                <b>EXPERIENCES</b>
                <ul>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Recreational</a></li>
                </ul>

                <div class="footer__social">
                    <b>we are in...</b>
                    <a href="#insta">
                        <img src="ico/instagram.svg" alt="Instagram">
                    </a>
                    <a href="#facebook">
                        <img src="ico/facebook.svg" alt="FB">
                    </a>
					<a href="#whatsapp">
                        <img src="ico/whatsapp.svg" alt="whatsapp">
                    </a>

                </div>

            </div>

            <div class="footer__item">
                <b>SOME FUN INFO</b>
                <ul>
                    <li><a href="#">People Served</a></li>
                    <li><a href="#">Community Members</a></li>
                    <li><a href="#">Locations Explored</a></li>
                    <li><a href="#">Nights Beneath the Stars</a></li>
                    <li><a href="#">Adventure Experiences</a></li>
                </ul>

            </div>

            <div class="footer__item">
                <b>WHAT MAKES US DIFFERENT</b>
                <ul>
                    <li><a href="#">Approach</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Execution</a></li>
                    <li><a href="#">Team</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer__bot-wrap">
        <div class="container">
            <div class="footer__bot">
                <span>© Copyright 2018 All rights reserved. Think Tank Digital</span>

                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">EDUCATION</a></li>
                    <li><a href="#">CORPORATE</a></li>
                    <li><a href="#">RECREATIONAL</a></li>
                    <li><a href="#">OUR TEAM</a></li>
                    <li><a href="#">our blog</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



{% include "popup/popup.njk" %}
