<menu class="menu">
    <div class="container">
        <div class="menu__wrap">
            <a href="/" class="menu__logo">
                <img src="ico/logo.svg" alt="Logo">
            </a>

            <div class="menu__nav">
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#EDUCATION">EDUCATION</a></li>
                    <li><a href="#CORPORATE">CORPORATE</a></li>
                    <li><a href="#RECREATIONAL">RECREATIONAL</a></li>
                    <li><a href="#OUR-TEAM">OUR TEAM</a></li>
                    <li><a href="#our-blog">our blog</a></li>
                    <li><a href="#CONTACT-US">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</menu>