{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Article" %}

{# Dop Class #}
{# {% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %} #}


{% block content %}
    
    {% include "header-min/header-min.njk" %}
    {% include "breadcrumbs/breadcrumbs.njk" %}
    {% include "b-article/b-article.njk" %}
    {% include "footer/footer.njk" %}
{% endblock %}
