{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Corporate" %}

{# Dop Class #}
{# {% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %} #}


{% block content %}
    {% set img = "img/corporate-page-bg.jpg" %}
    {% set title = "<b>Corporate</b>" %}
    {% set h3 = "High-value engaging tours for the professional development and bonding of business executives" %}

    {% include "header-min/header-min.njk" %}
    {% include "breadcrumbs/breadcrumbs.njk" %}
    {% include "b-corporate/b-corporate.njk" %}
    {% include "discount/discount.njk" %}
    {% include "footer/footer.njk" %}
{% endblock %}
