{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Education" %}

{# Dop Class #}
{# {% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %} #}


{% block content %}
    {% set img = "img/education-page-bg.jpg" %}
    {% set title = "<b>Education</b>" %}
    {% set h3 = "Intellectually enriching outdoor eco-tours for our future generation" %}

    {% include "header-min/header-min.njk" %}
    {% include "breadcrumbs/breadcrumbs.njk" %}
    {% include "b-education/b-education.njk" %}
    {% include "discount/discount.njk" %}
    {% include "footer/footer.njk" %}
{% endblock %}
