{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Index" %}

{# Dop Class #}
{# {% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %} #}


{% block content %}
    
    {% include "header/header.njk" %}
    {% include "mainsection/mainsection.njk" %}
    {% include "funinfo/funinfo.njk" %}
    {% include "aboutus/aboutus.njk" %}
    {% include "lastposts/lastposts.njk" %}
    {% include "partener/partener.njk" %}
    {% include "cofoundes/cofoundes.njk" %}
    {% include "discount/discount.njk" %}
    {% include "ourproj/ourproj.njk" %}
    {% include "diferent/diferent.njk" %}
    {% include "footer/footer.njk" %}
{% endblock %}
