{# Include #}
{% extends "inc/main.njk" %}

{# Title #}
{% set title = "Recreation" %}

{# Dop Class #}
{# {% set htmlClass = "htmlClass" %}
{% set bodyClass = "bodyClass" %} #}


{% block content %}
    {% set img = "img/recreation-page-bg.jpg" %}
    {% set title = "<b>Recreation</b>" %}
    {% set h3 = "Explore nature, discover the wild, and immerse yourself in the journey." %}

    {% include "header-min/header-min.njk" %}
    {% include "breadcrumbs/breadcrumbs.njk" %}
    {% include "b-education/b-education.njk" %}
    {% include "discount/discount.njk" %}
    {% include "footer/footer.njk" %}
{% endblock %}
