<div class="barticle">
    <div class="container">
        {% set quoteTitle = "<b>At</b> TacTack" %}
        {% set quoteText = ["We believe in the future generations' power to bring about positive change. As such, our focus is to enable the youth to have a strong appreciation for the gifts of nature and the efforts invotlved in maintaining them. Our Eco-Tours promote environmental responsibility and encourage a critical understanding of how our actions as citydwellers impact our ecosystems. They awaken students' curiosities, foster their interest, nurture their innate creativity, and instill a genuine love for the environment and empathy for the local communities that protect it."] %}
        {% include "quote/quote.njk" %}

        <div class="barticle__wrap">
            <div class="infoblock infoblock--reverse infoblock--vertical-center">
                <div class="infoblock__img">
                    <img src="img/special-item.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>The</b> Proposal!</h2>
                    <p>
                        Ever wonder how the greatest memories are made? By doing the things that break the form and structure to establish your own! Design your perfect exclusive proposal experience in any of Pakistan’s beautiful outdoor locations. 
                    </p>
                    <a href="#" class="infoblock__link">
                        Contact us right away for a free consultation!
                    </a>
                </div>

                {# <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div> #}
            </div>

            <div class="infoblock infoblock--vertical-center">
                <div class="infoblock__img">
                    <img src="img/special-item2.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>The</b> Bachelorette!</h2>
                    <p>
                        Let the wilderness inside you sync with the beautiful mountains up north! Make the most of your liberated self and enjoy a heart-warming trip with your besties! Be yourselves whilst comforted by luxury accommodation, exquisite food, divine scenery, simple yet incredible activities to further your connection with nature! Bespoke to its core, designed specifically for you, to cater for the experience you are looking for! Be safe and protected in our care, and be free to smile and laugh with your friends, and most importantly love yourself
                    </p>
                    <a href="#" class="infoblock__link">
                        Contact us right away for a free consultation!
                    </a>
                </div>

                {# <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div> #}
            </div>

            <div class="infoblock infoblock--reverse infoblock--vertical-center">
                <div class="infoblock__img">
                    <img src="img/special-item3.jpg" alt="IMG">
                </div>

                <div class="infoblock__text">
                    <h2><b>The</b> Wedding!</h2>
                    <p>
                        To add to the beautiful sacred act of matrimony there is nothing better than being in a magical uplifting environment with all your loved family & friends. From private charters to fly you in and out of the mountains to any and all kinds of activities to truly design the perfect wedding, everything is possible with <em><b>TACTACK</b></em>
                    </p>
                    <a href="#" class="infoblock__link">
                        Contact us right away for a free consultation!
                    </a>
                </div>

                {# <div class="infoblock__bottom">
                    {{ M.svg("chat") }}
                    <span>Contact us for your exclusive experiences, our team will organise the perfect bespoke trip for you!</span>
                    <a href="#">Contact us right away for a free consultation!</a>
                </div> #}
            </div>
        </div>
    </div>
</div>