<div class="different">
    <div class="container">
        <div class="different__wrap">
            <h2>What makes <b>us different</b></h2>

            <div class="different__grid">
                <a href="#" class="different__grid-item" style="background-image: url('../img/diff-1.png')">
                    <b>APPROACH</b>
                    <p>
                        We personalize and add value to your encounter with nature by truly understanding your needs
                    </p>
                </a>
                <a href="#" class="different__grid-item" style="background-image: url('../img/diff-2.png')">
                    <b>APPROACH</b>
                    <p>
                        We personalize and add value to your encounter with nature by truly understanding your needs
                    </p>
                </a>
                <a href="#" class="different__grid-item" style="background-image: url('../img/diff-3.png')">
                    <b>APPROACH</b>
                    <p>
                        We personalize and add value to your encounter with nature by truly understanding your needs
                    </p>
                </a>
                <a href="#" class="different__grid-item" style="background-image: url('../img/diff-4.png')">
                    <b>APPROACH</b>
                    <p>
                        We personalize and add value to your encounter with nature by truly understanding your needs
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>